{% extends 'base.html' %}

{% block body %}
<head>
	<title>Job Posting Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css">
		body {
    background: linear-gradient(to right, #c04848, #480048);
    min-height: 100vh
}

.text-gray {
    color: #aaa
}

img {
    height: 170px;
    width: 140px
}
	</style>
</head>
<body>
<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
        <br>
<br>
            <h1 class="display-4">Apply for your dream job!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Volunteers Needed</h5>
                            <p class="font-italic text-muted mb-0 small"> Job
                            Goonj</p>
                            <p>You could volunteer with them on their programmes such as Going Green, School to School (working with children),  Women’s Dignity and Menstruation, and sharing skills like IT, Corel draw, Photoshop, writing, videography, translation etc.</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <a href="jobdescription">Read more..</a>
                               
                            </div>
                        </div><img src="../static/8.jpg" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Social Media Manager</h5>
                            <p class="font-italic text-muted mb-0 small">Aspire For Her</p>
                            <p>Creating a generation of financially independent women by turning every woman’s career aspiration into action through education</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <a href="jobdescription">Read more..</a>
                                
                            </div>
                        </div><img src="../static/9.jpg" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item -->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Content Writer</h5>
                            <p class="font-italic text-muted mb-0 small">HelpAgeIndia</p>
                            <p>HelpAge India is a leading charity in India working with and for disadvantaged elderly for nearly 4 decades. It was set up in 1978 and is registered under the Societies’ Registration Act of 1860. There are an estimated 106 million elderly in India. HelpAge advocates for their needs such as for Universal Pension, quality healthcare, action against Elder Abuse and many more at a national, state and societal level with Central and State governments. </p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <a href="jobdescription">Read more..</a>
                                
                            </div>
                        </div><img src="../static/11.jpg" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
                <!-- list group item -->
                <li class="list-group-item">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Event Manager Intern</h5>
                            <p class="font-italic text-muted mb-0 small">Make A Difference</p>
                            <p>Through education, the organization ensures that these disadvantaged children are economically independent to achieve their dreams.Their volunteers commit a year and spend between 2 and 10 hours every week mentoring, teaching and interacting with children in order to ensure that they get the support and care they need during childhood.</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <a href="jobdescription">Read more..</a>
                                
                            </div>
                        </div><img src="../static/10.jpg" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->
        </div>
    </div>
</div>
{% endblock body %}